body {
    font-family: Arial, sans-serif;
    background-color: #180D16;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #07FFF4;
}

header p {
    margin: 0;
    font-size: 1.2em;
    color: #07FFF4;
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    color: 07FFF4#;
}

section p, section ul {
    margin: 10px 0;
    color  07FFF4
}

.job h3 {
    margin: 0;
    font-size: 1.5em;
    color: #07FFF4
}

.job p {
    margin: 5px 0;
    color: #07FFF4
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
